/*
    como calculamos la especificidad -> la manera en que se determina el peso de las etiquetas que nosostros usemos
    0 0 0 0
    
    nav a --> 2 etiquetas
    0 0 0 2

    .clase a --> clase y etiqueta
    0 0 1 1

    #id a --> id y etiqueta
    0 1 0 1

    !important -> a{ tex:a !important; }
    1 0 0 0


*/


/**************** Imports ******************/

/* PARA FORMATEAR LOS ESTILOS PREDETERMINADOS DE LOS NAVEGADORES**/
@import url(styles/reset.css);



/**************** Fluid Design ******************/
/*https://utopia.fyi/type/calculator*/
:root {
    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
}



/******************************** PARA FORMATEAR LOS ESTILOS **/
@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/Quicksand-Light.ttf') format('truetype'),
        url('fonts/Quicksand-Light.woff') format('woff');
}

@font-face {
    font-family: 'QuicksandMedium';
    src: url('fonts/Quicksand-Medium.ttf') format('truetype'),
        url('fonts/Quicksand-Medium.woff') format('woff');
}

/**************** Custom Properties ******************/
:root {
    --first-color: #037bc0;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --gray-light-color: #f3f3f3;
    --white-color: #fff;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-color: #000;
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "QuicksandLight", sans-serif;
    --font-medium: 'QuicksandMedium', sans-serif;
}

/*https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/

/* 
hacemos esto para que cuando un usuario determine el tamaño de letra de su navegador nosotros adoptemos ese tamaño que el escogio y no lo dejemos estatico en 16px sino nos jugaremos con 10px de momento que es por defecto y si el usuario cambia entonces cambiara
16px = 100%
10px = ?

(10 * 100) / 16 = 62.5 % 
*/

html {
    box-sizing: border-box;
    /* font-size: 16px; */
    font-size: 62.5%;
    font-family: var(--font);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
    font-size: var(--step-5);
    /* font-size: 2rem; */
}

h2 {
    font-size: var(--step-4);
    /* font-size: 1.5rem; */
}

h3 {
    font-size: var(--step-3);
    /* font-size: 1.25rem; */
}

h4 {
    font-size: var(--step-2);
    /* font-size: 1rem; */
}

h5 {
    font-size: var(--step-1);
    /* font-size: 0.85rem; */
}

h6 {
    font-size: var(--step-0);
    /* font-size: 0.7rem; */
}

a{
    font-size: var(--step-1);
}

p{
    font-size: var(--step-1);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
    line-height: 1.5; /*interlineado entre parrafos*/
}

.container {
    max-width: 1000px;
    margin-inline: auto;
}

/**************** Site Styles  ******************/
/**************** Header **/
header {
    text-align: center;
}

header h1 {
    padding: 2rem;
    font-family: var(--font-medium);
    font-weight: bold;
    text-transform: capitalize;
}

header h1 span {
    color: var(--first-color);
}

header .navigation {
    border-top: thin solid var(--gray-color);
}

header nav {
    /* margin-left: auto;
    margin-right: auto; */
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header a {
    display: inline-block;
    padding: 1.5rem;
    color: var(--black-color);
    font-weight: 600;
    text-decoration: none;
}

header a:hover{
    color: var(--first-color);
}

/**************** Hero Image **/
.hero-image {
    width: 100%;
    /* height: 550px; */
    height: 55rem;
    background-image: url('assets/images/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/**************** Categories Products **/
.categories-products h2{
    padding: 2rem;
    text-align: center;
    font-weight: 600;
}
.categories{
    display: flex;
    padding: 0 1rem;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.categories a{
    max-width: 300px;
    text-align: center;
    color: var(--black-color);
}
.categories span{
    font-weight: 600;
    display: inline-block;
    padding: 1rem;
}
.categories a:hover{
    background-color: var(--first-color);
    color: #fff;
}

/**************** About Us **/
.about-us{
    margin-top: 2rem;
    background-color: var(--first-color);    
    color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    min-height: 30rem;
    align-items: center;
}
.about-us .image{    
    flex: 1 0 35rem;
    height: 300px;
    background-color: red;
    background-image: url('assets/images/nosotros.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us h2{
    font-weight: 600;    
    line-height: 2;
}

.about-us .description{
    flex: 1 0 35rem;  
    padding: 3rem;
    text-align: justify;
}
























