/**************** Fluid Design ******************/
/*https://utopia.fyi/type/calculator*/
:root {
    --step--2: clamp(0.7813rem, 0.6417rem + 0.6979vw, 1.2rem);
    --step--1: clamp(0.9375rem, 0.75rem + 0.9375vw, 1.5rem);
    --step-0: clamp(1.125rem, 0.875rem + 1.25vw, 1.875rem);
    --step-1: clamp(1.35rem, 1.0188rem + 1.6563vw, 2.3438rem);
    --step-2: clamp(1.62rem, 1.1833rem + 2.1833vw, 2.93rem);
    --step-3: clamp(1.9438rem, 1.371rem + 2.8635vw, 3.6619rem);
    --step-4: clamp(2.3325rem, 1.5842rem + 3.7417vw, 4.5775rem);
    --step-5: clamp(2.7994rem, 1.8252rem + 4.8708vw, 5.7219rem);
  }

/**************** Custom Properties ******************/
:root {
    --first-color: #6834a6;
    --first-black-color: #5a30a0;
    --first-alpha-color: rgba(0, 152, 217, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --gray-light-color: #f3f3f3;
    --white-color: #fff;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-color: #000;
    --black-alpha-color: rgba(0, 0, 0, 0.5);

    --button-green-color: #8cbc00;
    --button-green-dark-color: #769c02;

    --font: 'Poppins', sans-serif;
}

/*https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/

/* 
hacemos esto para que cuando un usuario determine el tamaño de letra de su navegador nosotros adoptemos ese tamaño que el escogio y no lo dejemos estatico en 16px sino nos jugaremos con 10px de momento que es por defecto y si el usuario cambia entonces cambiara
16px = 100%
10px = ?

(10 * 100) / 16 = 62.5 % 
*/

html {
    box-sizing: border-box;
    /* font-size: 16px; */
    font-size: 62.5%;
    font-family: var(--font);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
    font-size: var(--step-5);
    /* font-size: 2rem; */
}

h2 {
    font-size: var(--step-4);
    /* font-size: 1.5rem; */
}

h3 {
    font-size: var(--step-3);
    /* font-size: 1.25rem; */
}

h4 {
    font-size: var(--step-2);
    /* font-size: 1rem; */
}

h5 {
    font-size: var(--step-1);
    /* font-size: 0.85rem; */
}

h6 {
    font-size: var(--step-0);
    /* font-size: 0.7rem; */
}

a {
    font-size: var(--step-0);
}

p {
    font-size: var(--step-1);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}

body p {
    line-height: 1.5;
    /*interlineado entre parrafos*/
}

/**************** Utilities  ******************/
.container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.text-center {
    text-align: center;
}

.mt-2{
    margin-top: 2rem;
}

.pt-2{
    padding-top: 2rem;
}
/**************** Components  ******************/
/**************** Green Button **/

[class$="__title"]{
    text-align: center;
    font-weight: 900;
}

/**************** Site Styles  ******************/
/**************** Header **/
.header{
    width: 100%;
    background-image: url('../assets/img/header_bg.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 10rem;
    transition: background 1s ease;    
}
.header__logo{
    width: 10rem;
    margin: auto;
}
.header__content{
    display: flex;
    flex-direction: column;
}

.header__information{
    font-size: var(--step-3);
    font-weight: 900;
    text-align: center;
}
.header__image{
    max-width: 50rem;
    display: block;
    margin-inline: auto;
}

.header__button{
    width: 100%;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1.5rem 0;
    font-size: var(--step--1);
    border: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 2rem; 
}

.nav__link{
    padding: .5rem 1.5rem;
    text-decoration: none;
    color: var(--first-color);
}

.nav__link--white{
    color: var(--white-color);
}

/*******
    Enves de colocar clases como componentes tambien podemos usar el selector como atributo asi no rompemos mucho las reglas de BEM
    asi todas las clases que tengan bloque__container se aplicara
*/
[class$="__container"]{
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 2rem;
}

/**************** Main **/
.main{
}
.main__title{
    text-align: center;
    font-weight: 900;
    margin-bottom: 5rem;
}
.main__grid{
    display: flex;
    flex-direction: column-reverse;    
}
.main__image{
    max-width: 50rem;  
    display: block;  
    margin-inline: auto;
}

/**************** List **/
.list{
    padding: 2rem;
}
.list__card{    
    margin-bottom: 2rem;
    padding: 1.5rem;
    /* ejeX ejeY distanciaSeparacion Propagacion Color */
    box-shadow: 0rem 0rem 1.5rem .1rem var(--black-alpha-color);
    transition: transform .3s ease-in-out;
    cursor: pointer;
    background-color: var(--white-color);
}
.list__card:hover{
    transform: scale(1.05);
}
.list__title{
    color: var(--first-color);
    font-weight: 700;
    padding: 1rem 0;
    text-align: left;
}
.list__content{
    font-size: var(--step-0);
    text-align: justify;
    color: var(--black-color);
}

.list__percentage{
    text-align: center;
    font-size: var(--step-3);
    font-weight: 900;
    color: var(--first-color);
}


/**************** Secure **/
.secure{ 
    background-color: var(--first-color);
    padding: 10rem 0;
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
}

.secure__title{
    margin-bottom: 3rem;
    color: var(--white-color);
}

.secure::before,
.secure::after{
    content: "";
    width: 105%;
    height: 10rem;
    display: block;
    position: absolute;
    background-color: var(--white-color);
}
.secure::before{
    /* background-color: red; */
    top: -5rem;
    transform: rotate(3deg);
}
.secure::after{
    /* background-color: blue; */
    bottom: -6rem;
    transform: rotate(3deg) scale(1.5);
}

/**************** Comissions **/
.comissions{
    margin-top: 2rem;    
}
.comissions__title{
    margin-bottom: 2rem;
}

.comissions__subtitle{
    font-weight: 600;
    text-align: center;
}
.comissions__image{
    display: block;
    min-height: 100%;
}

/**************** Testimonials **/
.testimonials{
    background-color: var(--first-color);
    padding: 8rem 0;
}
.testimonials__title{
    color: var(--white-color);
    margin-bottom: 3rem;
}

.testimonials__grid{
    display: grid;
    gap: 2rem;
}

.testimonials__card{
    background-color: var(--white-color);
    box-shadow: 0rem 0rem 1.5rem .1rem var(--black-alpha-color);
    padding: 2rem;
}

.testimonials__comment{
    font-size: var(--step-0);
    font-style: italic;
    padding: 1rem 0rem 1rem 2.5rem;
    position: relative;
}
.testimonials__comment::before{
    content: "";
    background-image: url('../assets/img/comilla.png');
    display: block;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    position: absolute;
    left: 0;
}
.testimonials__author{
    font-size: var(--step--1);
    color: var(--first-color);
    font-weight: bold;
    display: block;
    text-align: right;
}
.testimonials__author::before{
    content: "- ";
}

/**************** Footer **/
.footer{
    background-color: var(--first-black-color);
    padding: 5rem 0;
}
.footer__frame{
    width: 20rem;
    margin-inline: auto;
}

/**************** Desktop Design **/
@media (min-width: 768px) {
    .header{
        background-size: 60rem;
    }
    .header__bar{
        display: flex;
        justify-content: space-between;
    }
    .header__logo{
        margin: unset;
    }
    .header__content{
        display: grid;
        grid-template-columns: repeat(2,1fr);     
        gap: 2rem;       
        align-items: center;  
    }    
    .header__information{
        font-size: var(--step-4);
        text-align: start;
    }
    .header__image{        
         max-width: 35rem; 
    }
    .header__button{
        width: 50%;
    }
    .nav{
        flex-direction: row; 
        margin-top: 0;       
    }
    .nav__link{
        color: var(--white-color);
    }    

    .main__grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 2rem;
    }

    .secure__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    .comissions__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        margin-top: 3rem;
        align-items: center;
    }
    .comissions__subtitle{
        text-align: left;
    }
    
    .list__card--percentage{
        display: flex;
        align-items: center;
    }
    .list__percentage{
        flex: 0 0 10rem;
    }

    .testimonials__grid{
        grid-template-columns: repeat(2,1fr);
    }

    .footer__grid{
        display: flex;
        justify-content: space-between;
    }
    .footer__frame{
        margin: 0;
    }
}


@media (min-width: 920px) {
    .header{
        background-size: 70rem;
    }   
}

@media (min-width: 1200px) {
    .header{
        background-size: 110rem;
    }   
}


/* :root{
    color-scheme: dark;
} */









/* .box{
    width: 50rem;
    height: 50rem;
    background: linear-gradient(225deg, rgba(0, 218, 85, 1) 50%, rgba(16, 115, 186, 0) 50%);
} */

/* .box{
    width: 100%;  
    min-height: 30rem;  
    background-color: #000;
    position: relative;
    overflow: hidden;
    padding: 10rem 0;
}
.box::before{
    content: "";
    display: block;
    position: absolute;
    background-color: red;
    width: 150%;
    height: 10rem;
    transform: rotate(3deg);
    top: -5rem;
} */
