
/**************** Imports ******************/

/* PARA FORMATEAR LOS ESTILOS PREDETERMINADOS DE LOS NAVEGADORES**/
@import url("./reset.css");

/******************************** PARA FORMATEAR LOS ESTILOS **/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.woff') format('woff');
}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway-Bold.woff') format('woff');
}


/**************** Custom Properties ******************/
:root{
    /******* Colors */
    --first-color: #037bc0;
    --first-alpha-color: rgba(0, 152, 217, 0.75);
    --second-color: #111;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --gray-color: #343a40;
    --gray-dark-color: #666;
    --gray-light-color: #f3f3f3;
    --gray-light-alpha-color: #f3f3f395;
    --white-color: #fff;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-color: #000;
    --black-alpha-color: rgba(0, 0, 0, 0.7);
    /******* Fonts */
    --font: "Raleway", sans-serif;
    --font-semi: 'RalewaySemiBold', sans-serif;
    --font-bold: 'RalewayBold', sans-serif;
    /******* Steps */
    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1280,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.78rem, 0.78rem + 0.03vw, 0.80rem);
    --step--1: clamp(0.94rem, 0.92rem + 0.10vw, 1.00rem);
    --step-0: clamp(1.13rem, 1.08rem + 0.21vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.28rem + 0.35vw, 1.56rem);
    --step-2: clamp(1.62rem, 1.51rem + 0.56vw, 1.95rem);
    --step-3: clamp(1.94rem, 1.78rem + 0.83vw, 2.44rem);
    --step-4: clamp(2.33rem, 2.09rem + 1.20vw, 3.05rem);
    --step-5: clamp(2.80rem, 2.46rem + 1.69vw, 3.82rem);
    --step-6: clamp(3.36rem, 2.89rem + 2.35vw, 4.77rem);

    --separation-padding: 3rem;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--font);
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

h1 {
    margin: 0;
    font-size: var(--step-6);
    /* font-size: 2rem; */
}

h2 {
    font-size: var(--step-5);
    /* font-size: 1.5rem; */
}

h3 {
    font-size: var(--step-4);
    /* font-size: 1.25rem; */
}

h4 {
    font-size: var(--step-3);
    /* font-size: 1rem; */
}

h5 {
    font-size: var(--step-2);
    /* font-size: 0.85rem; */
}

h6 {
    font-size: var(--step-1);
    /* font-size: 0.7rem; */
}

a {
    font-size: var(--step-1);
}

p {
    font-size: var(--step-1);
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}


/**************** Utilities  ******************/

.container{
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 2rem;
    width: 90%;
}

.text-center{
    text-align: center;
}

.mt-3{
    margin-top: 3rem;
}

/**************** Components  ******************/
/**************** Button **/
.btn{
    color: var(--gray-color);
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    padding: .5rem .2rem;
}

.btn:hover{
    background-color: var(--gray-color);
    color: var(--white-color);
}


/**************** Site Styles  ******************/

/**************** Header **/
.header, .footer{
    min-height: 80vh;
    color: var(--white-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--separation-padding) 0;
    background-image: url('../assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header a,.footer a{
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--white-color);
}

.header a:hover,.footer a:hover{
    color: var(--black-color);
    font-weight: bold;
    background-color: var(--gray-light-alpha-color);
}

.header nav, .footer nav{
    display: flex;
    flex-direction: column;
}

.header h2,.footer h2{
    padding: 2rem 0;
}
.header h2 span, .header h1, .footer h2 span, .footer h1{
    font-family: var(--font-bold);
}

.header h1{
    font-size: var(--step-5);
    padding-bottom: 1rem;
}

.header .phone a::before, .footer .phone a::before{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url('../assets/images/telefono.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
}

/**************** About us **/

.about-us .container{
    margin-top: 3rem;    
}
.about-us h2{
    font-family: var(--font-bold);
    font-weight: 900;
}
.about-us .description > *{
    margin: 2rem 0;
}
.about-us p{
    text-align: justify;
}
.about-us .image{
    min-height: 60vh;
    background-image: url('../assets/images/nosotros.jpg');
    background-size: cover;
    background-position: bottom center;    
}

/**************** Models **/
.models{
    margin-top: 3rem;
}

.models .container > h2{    
    font-family: var(--font-bold);
}
.models .container h2{
    font-weight: bold;
}

.models .description>*{
    margin: 2rem 0;
}

.models .description button{
    padding: .5rem 2rem;
    margin: 1rem 0;
    font-size: var(--step-1);
    background-color: transparent;
    border: 1px solid var(--gray-dark-color);
    cursor: pointer;
    color: var(--gray-dark-color);
    transition: background-color .5s ease, color .5s ease;
}

.models .description button:hover{
    background-color: var(--gray-dark-color);
    color: var(--gray-light-color);
}

/**************** Galery **/
.galery{
    margin-top: 2rem;
}
.galery h2{
    font-family: var(--font-bold);
    font-weight: bold;
    margin-bottom: 2rem;
}
.galery .contain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 30rem;
}
.galery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.galery img:nth-child(2){
    grid-row: span 2;
}
.galery img:nth-child(6){
    grid-row: 3 / 5;
}
.galery img:last-child{
    grid-column: span 2;
}

/**************** Footer **/
.footer{
    margin-top: 3rem;
    min-height: 60vh;
    position: relative;
}
.footer > div:nth-child(2){
    background-color: var(--black-alpha-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    font-size: var(--step-0);
}

/**************** DesktopDesign ******************/

@media screen and (min-width: 768px) {
    .header .information, .footer .information{
        display: flex;
        justify-content: space-between;
    }
    .header .phone, .footer .phone{
        text-align: right;
    }
    .header nav, .footer nav{
        flex-direction: row-reverse;
        align-items: end;
        flex-wrap: wrap;
    }
    .header .slogan, .footer .slogan{
        text-align: right;
    }
    
    .about-us .container{
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .about-us .image{
        grid-row: 2 / 5;
        grid-column: 1 / 4;
    }
    .about-us .description{
        grid-column: 2 / 5;
        grid-row: 1 / 3;
        background-color: white;
        order: 1;
        align-self: center;
        padding: 1rem;
    }

    .model{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,15rem);        
        margin-top: 2rem;
    }
    .model .description{
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem;
        order: 1;
    }
    .model img{
        height: 100%;
        object-fit: cover;
        object-position: left center;
    }
    .basic img{
        grid-column: 1 / 4;
        grid-row: 1 / 5;        
    }
    .basic .description{
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }
    .premier img{
        grid-column: 2 / 5;
        grid-row: 1 / 5;        
    }
    .premier .description{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .elite img{
        grid-column: 1 / 4;
        grid-row: 1 / 5;        
    }
    .elite .description{
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }

    .galery .contain{        
        grid-template-columns: repeat(3,1fr);   
        grid-auto-flow: dense;     
    }
    .galery img:nth-child(2){
        grid-column: 3 / 4;
    }
    .galery img:nth-child(6){
        grid-row: 2 / 4;
    }
    .galery img:last-child{
        grid-column: unset;
    }

}



































